<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTML headers information -->
  <%- include('../partials/head.ejs') %>
  <title>About the Remotely Accessible Inverted Pendulum</title>
</head>

<body>
  <!-- Get the navbar -->
  <%- include('../partials/nav.ejs') %>
  <div class="header">
    <img src="public/img/site_logo.png" alt="Pendulum logo" width="160" height="130" />
    <h1>Remotely Accessible Inverted Pendulum</h1>
  </div>

  <div id="main">
    <div id="about">
      <h3 id="subtitle">
        Created by <br />
        Abrar Nair Islam, Brendan Lake, Cory Ohnsted, Matt Strapp, Kiflu Woldegiorgis (2022) <br />
        Sam Hansen, Rezkath Awal, Donovan Peterson, Joseph Jewett (2021) <br />
        Alin Butoi, Paul D’Amico, Dat Nguyen, Ross Olson, Rachel Schow (2019) <br /> <br />
        Advisor: Professor Andrew Lamperski <br />
        Sponsored by the University of Minnesota -Twin Cities <br />
      </h3>
      <br />
      <h1 id="Background">Background</h1>
      <p>
        Our teams developed an inverted pendulum system that could be accessed over a computer network for use by students. The inverted pendulum is a common controls problem used in academia. This problem teaches students concepts of control loops, data filtering, and machine learning.
      </p>
      <br />
      <h1 id="Pendulum_info"> What is an Inverted Pendulum? </h1>
      <p>
        A vertical pendulum that is balanced via the base moving. <br /> Controlled movements are determined by measuring the position and speed of the pendulum and base.
      </p>
    </div>
  </div>
</body>

</html>