<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTML headers information -->
  <%- include('../partials/head.ejs') %>
  <script type="module" src="public/js/form.js" defer></script>
</head>

<body>
  <!-- Get the navbar -->
  <%- include('../partials/nav.ejs') %>
  <br />
  <h2>Please upload a Python file (.py file extension) to run on the Inverted Pendulum.</h2>
  <br /> <br />
  <form id="upload" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="file" name="file" accept=".py" />
    <br /> <br />
    <br /> <br />
    <label id="Start">Start pendulum: </label>
    <input type="submit" id="actuate_but" value="Actuate!" />
  </form>
</body>

</html>