    <nav>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About the Inverted Pendulum</a></li>
        <li><a href="https://github.com/RosstheRoss/4951w-pendulum" style="right: 0px">GitHub Repo</a></li>
      </ul>
    </nav>